.field.error::after {
    box-shadow: 0 0 0 var(--inputs-border-width) var(--error-color);
}
.field:hover.field:after, .select:hover.select:after, .select__select:hover.select__select:after, .customer .field:hover.field:after, .customer select:hover.select:after, .localization-form__select:hover.localization-form__select:after{
    box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) var(--hover-field-color);
}

.field__input:focus-visible, .select__select:focus-visible, .customer .field input:focus-visible, .customer select:focus-visible, .localization-form__select:focus-visible.localization-form__select:after{
    box-shadow: unset;
}